<%- include('partials/_header'); %>

<%- include('partials/_navigation'); %>
      <div class="about-bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="abouttitle">
                     <h2>Login</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Contact -->
	 <% if(flashMesaj){%>
           <% if(flashMesaj.loginSuccessful){ %>
               <div class="alert alert-success"> <%= flashMesaj.loginSuccessful %></div>  
            <% }else if(flashMesaj.loginFaile){%>
               <div class="alert alert-danger"> <%= flashMesaj.loginFaile %></div>  
             <%}%>
         <%}%>
      <div class="Contact">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <form action="/users/login" method="POST">
                     <div class="row">
                   
                         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <input class="form-control" placeholder="Email" name="email" type="Email">
                        </div>
            
                       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <input class="form-control" placeholder="password" name="password" type="password">
                        </div>
             
                     </div>
                     <button type="submit" class="send-btn mt-5">Send</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end Contact -->

      <%- include('partials/_footer'); %>
